ZOKO_API_KEY=replace_with_your_zoko_key
ZOKO_ALLOWED_RECIPIENTS=replace_with_your_own_test_number_in_international_digits
POSTHOG_PROJECT_API_KEY=replace_with_your_posthog_project_key
POSTHOG_HOST=https://us.i.posthog.com
